# Homwork 2 - visualization
Process data using raw data (Work on both US and World data). You would need to work on data manipulation.
- For US data, do both county level and state level.
- For world data, just do the country level, not province nor state.

Hand in your
1) jupyter notebook file and
2) word file with figures in them (of figures, etc. does not matter as long as you are able to get the figures out).

Sonja: Clean Data
- Remove Column with same data in all rows
- Change date format, so that it is the same in all columns
- ***Combined Key?***

In [1]:
import re
import pandas as pd

In [2]:
global_deaths = pd.read_csv('covid-19/CONVENIENT_global_deaths.csv')
global_deaths

,Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom.11,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
0,Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australian Capital Territory,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,12/2/21,1.0,3.0,7.0,1.0,0.0,0.0,20.0,21.0,0.0,...,141.0,1.0,3.0,0.0,9.0,210.0,3.0,0.0,0.0,0.0
681,12/3/21,1.0,4.0,6.0,0.0,0.0,0.0,22.0,13.0,0.0,...,143.0,0.0,4.0,0.0,7.0,200.0,4.0,2.0,0.0,1.0
682,12/4/21,1.0,1.0,7.0,0.0,0.0,0.0,4.0,25.0,0.0,...,127.0,0.0,3.0,0.0,9.0,203.0,0.0,1.0,0.0,1.0
683,12/5/21,0.0,1.0,7.0,0.0,0.0,0.0,3.0,14.0,0.0,...,54.0,2.0,2.0,0.0,7.0,199.0,0.0,1.0,0.0,1.0
684,12/6/21,4.0,5.0,8.0,1.0,0.0,0.0,34.0,8.0,0.0,...,41.0,2.0,3.0,0.0,0.0,223.0,7.0,1.0,1.0,0.0

In [3]:
confirmed_cases = pd.read_csv('covid-19/RAW_us_confirmed_cases.csv')

remove columns that have the same values in every row

In [4]:
for column in confirmed_cases.columns:
    print(column + ': ' + str(len(confirmed_cases[column].unique())))

Province_State: 58
Admin2: 1981
UID: 3342
iso2: 6
iso3: 6
code3: 6
FIPS: 3333
Country_Region: 1
Lat: 3228
Long_: 3228
Combined_Key: 3342
1/22/20: 2
1/23/20: 2
1/24/20: 2
1/25/20: 2
1/26/20: 2
1/27/20: 2
1/28/20: 2
1/29/20: 2
1/30/20: 2
1/31/20: 3
2002-01-20: 3
2002-02-20: 3
2002-03-20: 3
2002-04-20: 3
2002-05-20: 3
2002-06-20: 3
2002-07-20: 3
2002-08-20: 3
2002-09-20: 3
2002-10-20: 3
2002-11-20: 3
2002-12-20: 3
2/13/20: 3
2/14/20: 3
2/15/20: 3
2/16/20: 3
2/17/20: 3
2/18/20: 3
2/19/20: 3
2/20/20: 3
2/21/20: 3
2/22/20: 3
2/23/20: 3
2/24/20: 3
2/25/20: 3
2/26/20: 4
2/27/20: 4
2/28/20: 4
2/29/20: 5
2003-01-20: 6
2003-02-20: 7
2003-03-20: 8
2003-04-20: 9
2003-05-20: 10
2003-06-20: 13
2003-07-20: 16
2003-08-20: 17
2003-09-20: 19
2003-10-20: 22
2003-11-20: 25
2003-12-20: 30
3/13/20: 34
3/14/20: 39
3/15/20: 45
3/16/20: 54
3/17/20: 60
3/18/20: 71
3/19/20: 89
3/20/20: 102
3/21/20: 110
3/22/20: 128
3/23/20: 141
3/24/20: 148
3/25/20: 167
3/26/20: 183
3/27/20: 197
3/28/20: 227
3/29/20: 235
3/30/20: 248
3/31/20: 267
2004-01-20: 275
2004-02-20: 299
2004-03-20: 321
2004-04-20: 327
2004-05-20: 344
2004-06-20: 347
2004-07-20: 374
2004-08-20: 373
2004-09-20: 389
2004-10-20: 401
2004-11-20: 412
2004-12-20: 421
4/13/20: 425
4/14/20: 437
4/15/20: 449
4/16/20: 452
4/17/20: 466
4/18/20: 472
4/19/20: 492
4/20/20: 493
4/21/20: 497
4/22/20: 512
4/23/20: 524
4/24/20: 530
4/25/20: 544
4/26/20: 559
4/27/20: 556
4/28/20: 564
4/29/20: 572
4/30/20: 586
2005-01-20: 591
2005-02-20: 596
2005-03-20: 607
2005-04-20: 608
2005-05-20: 616
2005-06-20: 622
2005-07-20: 640
2005-08-20: 647
2005-09-20: 650
2005-10-20: 659
2005-11-20: 653
2005-12-20: 672
5/13/20: 673
5/14/20: 662
5/15/20: 689
5/16/20: 681
5/17/20: 690
5/18/20: 693
5/19/20: 699
5/20/20: 699
5/21/20: 725
5/22/20: 724
5/23/20: 730
5/24/20: 741
5/25/20: 748
5/26/20: 755
5/27/20: 751
5/28/20: 763
5/29/20: 763
5/30/20: 785
5/31/20: 776
2006-01-20: 777
2006-02-20: 774
2006-03-20: 793
2006-04-20: 795
2006-05-20: 802
2006-06-20: 804
2006-07-20: 808
2006-08-20: 816
2006-09-20: 825
2006-10-20: 825
2006-11-20: 842
2006-12-20: 848
6/13/20: 852
6/14/20: 847
6/15/20: 861
6/16/20: 852
6/17/20: 876
6/18/20: 878
6/19/20: 873
6/20/20: 886
6/21/20: 899
6/22/20: 914
6/23/20: 911
6/24/20: 924
6/25/20: 946
6/26/20: 937
6/27/20: 948
6/28/20: 948
6/29/20: 962
6/30/20: 971
2007-01-20: 978
2007-02-20: 986
2007-03-20: 1005
2007-04-20: 1001
2007-05-20: 1017
2007-06-20: 1017
2007-07-20: 1046
2007-08-20: 1034
2007-09-20: 1056
2007-10-20: 1069
2007-11-20: 1082
2007-12-20: 1090
7/13/20: 1096
7/14/20: 1088
7/15/20: 1129
7/16/20: 1124
7/17/20: 1129
7/18/20: 1143
7/19/20: 1144
7/20/20: 1141
7/21/20: 1156
7/22/20: 1178
7/23/20: 1189
7/24/20: 1200
7/25/20: 1213
7/26/20: 1224
7/27/20: 1228
7/28/20: 1243
7/29/20: 1241
7/30/20: 1257
7/31/20: 1263
2008-01-20: 1268
2008-02-20: 1271
2008-03-20: 1299
2008-04-20: 1293
2008-05-20: 1299
2008-06-20: 1299
2008-07-20: 1333
2008-08-20: 1351
2008-09-20: 1336
2008-10-20: 1348
2008-11-20: 1345
2008-12-20: 1355
8/13/20: 1381
8/14/20: 1386
8/15/20: 1371
8/16/20: 1386
8/17/20: 1386
8/18/20: 1388
8/19/20: 1409
8/20/20: 1406
8/21/20: 1424
8/22/20: 1422
8/23/20: 1434
8/24/20: 1450
8/25/20: 1439
8/26/20: 1447
8/27/20: 1457
8/28/20: 1482
8/29/20: 1475
8/30/20: 1473
8/31/20: 1477
2009-01-20: 1484
2009-02-20: 1486
2009-03-20: 1493
2009-04-20: 1519
2009-05-20: 1512
2009-06-20: 1520
2009-07-20: 1515
2009-08-20: 1518
2009-09-20: 1526
2009-10-20: 1525
2009-11-20: 1543
2009-12-20: 1553
9/13/20: 1557
9/14/20: 1542
9/15/20: 1568
9/16/20: 1557
9/17/20: 1568
9/18/20: 1576
9/19/20: 1592
9/20/20: 1592
9/21/20: 1602
9/22/20: 1601
9/23/20: 1616
9/24/20: 1636
9/25/20: 1633
9/26/20: 1647
9/27/20: 1647
9/28/20: 1651
9/29/20: 1645
9/30/20: 1669
2010-01-20: 1668
2010-02-20: 1682
2010-03-20: 1693
2010-04-20: 1694
2010-05-20: 1695
2010-06-20: 1683
2010-07-20: 1687
2010-08-20: 1740
2010-09-20: 1714
2010-10-20: 1745
2010-11-20: 1721
2010-12-20: 1742
10/13/20: 1750
10/14/20: 1750
10/15/20: 1764
10/16/20: 1754
10/17/20: 1777
10/18/20: 1772
10/19/20: 1794
10/20/20: 1785
10/21/20: 1796
10/22/20: 1825
10/23/20: 1841
10/24/20: 1814
10/25/20: 1859
10/26/20: 1850
10/27/20: 1859
10/28/20: 1866
10/29/20: 1870
10/30/20: 1898
10/31/20: 1895
2011-01-20: 1905
2011-02-20: 1905
2011-03-20: 1953
2011-04-20: 1933
2011-05-20: 1966
2011-06-20: 1974
2011-07-20: 1976
2011-08-20: 2005
2011-09-20: 1996
2011-10-20: 2018
2011-11-20: 2035
2011-12-20: 2074
11/13/20: 2067
11/14/20: 2090
11/15/20: 2083
11/16/20: 2083
11/17/20: 2115
11/18/20: 2108
11/19/20: 2114
11/20/20: 2156
11/21/20: 2172
11/22/20: 2164
11/23/20: 2163
11/24/20: 2212
11/25/20: 2194
11/26/20: 2194
11/27/20: 2224
11/28/20: 2219
11/29/20: 2217
11/30/20: 2247
2012-01-20: 2275
2012-02-20: 2253
2012-03-20: 2249
2012-04-20: 2289
2012-05-20: 2282
2012-06-20: 2295
2012-07-20: 2343
2012-08-20: 2306
2012-09-20: 2286
2012-10-20: 2351
2012-11-20: 2354
2012-12-20: 2356
12/13/20: 2337
12/14/20: 2379
12/15/20: 2377
12/16/20: 2363
12/17/20: 2416
12/18/20: 2408
12/19/20: 2390
12/20/20: 2385
12/21/20: 2422
12/22/20: 2442
12/23/20: 2455
12/24/20: 2438
12/25/20: 2446
12/26/20: 2414
12/27/20: 2403
12/28/20: 2488
12/29/20: 2444
12/30/20: 2479
12/31/20: 2483
2001-01-21: 2466
2001-02-21: 2473
2001-03-21: 2466
2001-04-21: 2515
2001-05-21: 2518
2001-06-21: 2517
2001-07-21: 2517
2001-08-21: 2534
2001-09-21: 2521
2001-10-21: 2518
2001-11-21: 2539
2001-12-21: 2536
1/13/21: 2557
1/14/21: 2577
1/15/21: 2569
1/16/21: 2541
1/17/21: 2548
1/18/21: 2563
1/19/21: 2574
1/20/21: 2559
1/21/21: 2559
1/22/21: 2582
1/23/21: 2579
1/24/21: 2568
1/25/21: 2574
1/26/21: 2589
1/27/21: 2592
1/28/21: 2610
1/29/21: 2630
1/30/21: 2621
1/31/21: 2607
2002-01-21: 2605
2002-02-21: 2605
2002-03-21: 2586
2002-04-21: 2595
2002-05-21: 2620
2002-06-21: 2630
2002-07-21: 2646
2002-08-21: 2648
2002-09-21: 2623
2002-10-21: 2615
2002-11-21: 2602
2002-12-21: 2621
2/13/21: 2606
2/14/21: 2592
2/15/21: 2609
2/16/21: 2614
2/17/21: 2616
2/18/21: 2636
2/19/21: 2632
2/20/21: 2618
2/21/21: 2621
2/22/21: 2620
2/23/21: 2635
2/24/21: 2639
2/25/21: 2632
2/26/21: 2649
2/27/21: 2663
2/28/21: 2648
2003-01-21: 2641
2003-02-21: 2638
2003-03-21: 2650
2003-04-21: 2651
2003-05-21: 2652
2003-06-21: 2647
2003-07-21: 2657
2003-08-21: 2667
2003-09-21: 2661
2003-10-21: 2615
2003-11-21: 2651
2003-12-21: 2631
3/13/21: 2642
3/14/21: 2651
3/15/21: 2637
3/16/21: 2627
3/17/21: 2653
3/18/21: 2673
3/19/21: 2682
3/20/21: 2653
3/21/21: 2660
3/22/21: 2668
3/23/21: 2699
3/24/21: 2693
3/25/21: 2667
3/26/21: 2672
3/27/21: 2673
3/28/21: 2684
3/29/21: 2672
3/30/21: 2662
3/31/21: 2650
2004-01-21: 2660
2004-02-21: 2661
2004-03-21: 2646
2004-04-21: 2652
2004-05-21: 2662
2004-06-21: 2688
2004-07-21: 2680
2004-08-21: 2668
2004-09-21: 2685
2004-10-21: 2671
2004-11-21: 2678
2004-12-21: 2660
4/13/21: 2684
4/14/21: 2669
4/15/21: 2683
4/16/21: 2691
4/17/21: 2693
4/18/21: 2711
4/19/21: 2670
4/20/21: 2686
4/21/21: 2664
4/22/21: 2682
4/23/21: 2700
4/24/21: 2698
4/25/21: 2674
4/26/21: 2676
4/27/21: 2679
4/28/21: 2672
4/29/21: 2671
4/30/21: 2700
2005-01-21: 2698
2005-02-21: 2691
2005-03-21: 2696
2005-04-21: 2702
2005-05-21: 2700
2005-06-21: 2695
2005-07-21: 2691
2005-08-21: 2699
2005-09-21: 2701
2005-10-21: 2690
2005-11-21: 2693
2005-12-21: 2692
5/13/21: 2701
5/14/21: 2706
5/15/21: 2692
5/16/21: 2707
5/17/21: 2699
5/18/21: 2678
5/19/21: 2698
5/20/21: 2699
5/21/21: 2717
5/22/21: 2695
5/23/21: 2689
5/24/21: 2709
5/25/21: 2689
5/26/21: 2718
5/27/21: 2698
5/28/21: 2711
5/29/21: 2700
5/30/21: 2688
5/31/21: 2699
2006-01-21: 2678
2006-02-21: 2709
2006-03-21: 2708
2006-04-21: 2700
2006-05-21: 2718
2006-06-21: 2698
2006-07-21: 2708
2006-08-21: 2699
2006-09-21: 2666
2006-10-21: 2720
2006-11-21: 2707
2006-12-21: 2708
6/13/21: 2705
6/14/21: 2714
6/15/21: 2685
6/16/21: 2706
6/17/21: 2717
6/18/21: 2704
6/19/21: 2701
6/20/21: 2710
6/21/21: 2713
6/22/21: 2715
6/23/21: 2719
6/24/21: 2700
6/25/21: 2713
6/26/21: 2724
6/27/21: 2725
6/28/21: 2722
6/29/21: 2742
6/30/21: 2721
2007-01-21: 2692
2007-02-21: 2709
2007-03-21: 2700
2007-04-21: 2699
2007-05-21: 2701
2007-06-21: 2714
2007-07-21: 2711
2007-08-21: 2688
2007-09-21: 2704
2007-10-21: 2712
2007-11-21: 2711
2007-12-21: 2727
7/13/21: 2720
7/14/21: 2694
7/15/21: 2732
7/16/21: 2692
7/17/21: 2712
7/18/21: 2714
7/19/21: 2725
7/20/21: 2716
7/21/21: 2745
7/22/21: 2736
7/23/21: 2731
7/24/21: 2707
7/25/21: 2727
7/26/21: 2723
7/27/21: 2742
7/28/21: 2742
7/29/21: 2740
7/30/21: 2740
7/31/21: 2747
2008-01-21: 2744
2008-02-21: 2740
2008-03-21: 2745
2008-04-21: 2742
2008-05-21: 2737
2008-06-21: 2754
2008-07-21: 2785
2008-08-21: 2782
2008-09-21: 2738
2008-10-21: 2761
2008-11-21: 2759
2008-12-21: 2741
8/13/21: 2770
8/14/21: 2764
8/15/21: 2754
8/16/21: 2741
8/17/21: 2769
8/18/21: 2755
8/19/21: 2771
8/20/21: 2756
8/21/21: 2771
8/22/21: 2751
8/23/21: 2762
8/24/21: 2758
8/25/21: 2777
8/26/21: 2787
8/27/21: 2774
8/28/21: 2764
8/29/21: 2784
8/30/21: 2770
8/31/21: 2809
2009-01-21: 2793
2009-02-21: 2803
2009-03-21: 2823
2009-04-21: 2815
2009-05-21: 2829
2009-06-21: 2820
2009-07-21: 2798
2009-08-21: 2793
2009-09-21: 2793
2009-10-21: 2799
2009-11-21: 2808
2009-12-21: 2815
9/13/21: 2810
9/14/21: 2812
9/15/21: 2824
9/16/21: 2845
9/17/21: 2828
9/18/21: 2825
9/19/21: 2820
9/20/21: 2811
9/21/21: 2824
9/22/21: 2822
9/23/21: 2838
9/24/21: 2857
9/25/21: 2845
9/26/21: 2856
9/27/21: 2848
9/28/21: 2853
9/29/21: 2825
9/30/21: 2838
2010-01-21: 2830
2010-02-21: 2837
2010-03-21: 2840
2010-04-21: 2835
2010-05-21: 2861
2010-06-21: 2852
2010-07-21: 2829
2010-08-21: 2864
2010-09-21: 2855
2010-10-21: 2844
2010-11-21: 2870
2010-12-21: 2862
10/13/21: 2838
10/14/21: 2876
10/15/21: 2863
10/16/21: 2846
10/17/21: 2861
10/18/21: 2851
10/19/21: 2834
10/20/21: 2881
10/21/21: 2859
10/22/21: 2876
10/23/21: 2864
10/24/21: 2879
10/25/21: 2872
10/26/21: 2853
10/27/21: 2853
10/28/21: 2892
10/29/21: 2880
10/30/21: 2871
10/31/21: 2889
2011-01-21: 2863
2011-02-21: 2890
2011-03-21: 2854
2011-04-21: 2874
2011-05-21: 2845
2011-06-21: 2852
2011-07-21: 2850
2011-08-21: 2892
2011-09-21: 2871
2011-10-21: 2898
2011-11-21: 2881
2011-12-21: 2893
11/13/21: 2887
11/14/21: 2894
11/15/21: 2865
11/16/21: 2888
11/17/21: 2888
11/18/21: 2875
11/19/21: 2873
11/20/21: 2872
11/21/21: 2864
11/22/21: 2891
11/23/21: 2857
11/24/21: 2899
11/25/21: 2891
11/26/21: 2880
11/27/21: 2869
11/28/21: 2879
11/29/21: 2866
11/30/21: 2907
2012-01-21: 2895
2012-02-21: 2887
2012-03-21: 2887
2012-04-21: 2905
2012-05-21: 2909
2012-06-21: 2901

In [5]:
confirmed_cases['Country_Region'].unique()
confirmed_cases = confirmed_cases.drop(columns=['Country_Region'])

rename columns so that dates are in the same format

In [6]:
from datetime import datetime


def format(date):
    if re.match(r'^[0|1]?[0-9]\/(([0-2]?[0-9])|((30)|(31)))\/(20[0-2][0-9])$', date):  # (1/31/20)
        return str(datetime.strptime(date, '%m/%d/%Y'))[:10]
    if re.match(r'^[0|1]?[0-9]\/(([0-2]?[0-9])|((30)|(31)))\/([0-2][0-9])$', date):  # (1/31/20)
        return str(datetime.strptime(date, '%m/%d/%y'))[:10]
    if re.match(r'^(20[0-2][0-9])-[0|1]?[0-9]-(([0-2]?[0-9])|((30)|(31)))$', date):  # 2003-8-31
        return str(datetime.strptime(date, '%Y-%m-%d'))[:10]
    return date


old_dates = confirmed_cases.columns[10:]
new_dates = [(format(date)) for date in old_dates]
confirmed_cases = confirmed_cases.rename(columns=dict(zip(old_dates, new_dates)))
confirmed_cases

,Province_State,Admin2,UID,iso2,iso3,code3,FIPS,Lat,Long_,Combined_Key,...,2021-11-27,2021-11-28,2021-11-29,2021-11-30,2012-01-21,2012-02-21,2012-03-21,2012-04-21,2012-05-21,2012-06-21
0,Alabama,Autauga,84001001,US,USA,840,1001.0,32.539527,-86.644082,"Autauga, Alabama, US",...,10517,10517,10517,10526,10527,10531,10545,10560,10561,10562
1,Alabama,Baldwin,84001003,US,USA,840,1003.0,30.727750,-87.722071,"Baldwin, Alabama, US",...,38068,38074,38085,38104,38123,38140,38171,38195,38207,38215
2,Alabama,Barbour,84001005,US,USA,840,1005.0,31.868263,-85.387129,"Barbour, Alabama, US",...,3694,3694,3695,3699,3700,3700,3701,3706,3708,3708
3,Alabama,Bibb,84001007,US,USA,840,1007.0,32.996421,-87.125115,"Bibb, Alabama, US",...,4340,4340,4340,4345,4348,4352,4354,4357,4362,4364
4,Alabama,Blount,84001009,US,USA,840,1009.0,33.982109,-86.567906,"Blount, Alabama, US",...,10714,10715,10717,10729,10739,10756,10765,10779,10782,10791
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,Wyoming,Teton,84056039,US,USA,840,56039.0,43.935225,-110.589080,"Teton, Wyoming, US",...,5366,5366,5377,5390,5391,5398,5406,5406,5406,5417
3338,Wyoming,Uinta,84056041,US,USA,840,56041.0,41.287818,-110.547578,"Uinta, Wyoming, US",...,4024,4024,4033,4047,4055,4064,4069,4069,4069,4073
3339,Wyoming,Unassigned,84090056,US,USA,840,90056.0,0.000000,0.000000,"Unassigned, Wyoming, US",...,0,0,0,0,0,0,0,0,0,0
3340,Wyoming,Washakie,84056043,US,USA,840,56043.0,43.904516,-107.680187,"Washakie, Wyoming, US",...,1845,1845,1861,1862,1862,1854,1856,1856,1856,1858
3341,Wyoming,Weston,84056045,US,USA,840,56045.0,43.839612,-104.567488,"Weston, Wyoming, US",...,1189,1189,1193,1193,1193,1195,1197,1197,1197,1198

In [7]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="http")
confirmed_cases['loc'] = confirmed_cases.apply(lambda row: f"{row.Lat}, {row.Long_}", axis=1)

In [8]:
confirmed_cases['State_Code'] = confirmed_cases['loc'].apply(lambda loc: geolocator.reverse(loc))
confirmed_cases

KeyboardInterrupt

In [ ]:
import plotly.express as px

fig = px.choropleth(confirmed_cases,
                    locations='State_Code',
                    locationmode='USA-states',
                    color="2010-04-21",
                    hover_name="Province_State",
                    # animation_frame="date",
                    title="Covid Cases in the US",
                    color_continuous_scale=px.colors.sequential.PuRd)

fig["layout"].pop("updatemenus")
fig.show()

In [ ]:
from plotly import graph_objects as go