# Homwork 2 - visualization
Process data using raw data (Work on both US and World data). You would need to work on data manipulation.
- For US data, do both county level and state level.
- For world data, just do the country level, not province nor state.

Hand in your
1) jupyter notebook file and
2) word file with figures in them (of figures, etc. does not matter as long as you are able to get the figures out).

In [6]:
import pandas as pd

In [7]:
global_deaths = pd.read_csv('covid-19/CONVENIENT_global_deaths.csv')
global_deaths

,Country/Region,Afghanistan,Albania,Algeria,Andorra,Angola,Antigua and Barbuda,Argentina,Armenia,Australia,...,United Kingdom.11,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
0,Province/State,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Australian Capital Territory,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,12/2/21,1.0,3.0,7.0,1.0,0.0,0.0,20.0,21.0,0.0,...,141.0,1.0,3.0,0.0,9.0,210.0,3.0,0.0,0.0,0.0
681,12/3/21,1.0,4.0,6.0,0.0,0.0,0.0,22.0,13.0,0.0,...,143.0,0.0,4.0,0.0,7.0,200.0,4.0,2.0,0.0,1.0
682,12/4/21,1.0,1.0,7.0,0.0,0.0,0.0,4.0,25.0,0.0,...,127.0,0.0,3.0,0.0,9.0,203.0,0.0,1.0,0.0,1.0
683,12/5/21,0.0,1.0,7.0,0.0,0.0,0.0,3.0,14.0,0.0,...,54.0,2.0,2.0,0.0,7.0,199.0,0.0,1.0,0.0,1.0
684,12/6/21,4.0,5.0,8.0,1.0,0.0,0.0,34.0,8.0,0.0,...,41.0,2.0,3.0,0.0,0.0,223.0,7.0,1.0,1.0,0.0

In [8]:
confirmed_cases = pd.read_csv('covid-19/RAW_us_confirmed_cases.csv')
confirmed_cases

,Province_State,Admin2,UID,iso2,iso3,code3,FIPS,Country_Region,Lat,Long_,...,11/27/21,11/28/21,11/29/21,11/30/21,2012-01-21,2012-02-21,2012-03-21,2012-04-21,2012-05-21,2012-06-21
0,Alabama,Autauga,84001001,US,USA,840,1001.0,US,32.539527,-86.644082,...,10517,10517,10517,10526,10527,10531,10545,10560,10561,10562
1,Alabama,Baldwin,84001003,US,USA,840,1003.0,US,30.727750,-87.722071,...,38068,38074,38085,38104,38123,38140,38171,38195,38207,38215
2,Alabama,Barbour,84001005,US,USA,840,1005.0,US,31.868263,-85.387129,...,3694,3694,3695,3699,3700,3700,3701,3706,3708,3708
3,Alabama,Bibb,84001007,US,USA,840,1007.0,US,32.996421,-87.125115,...,4340,4340,4340,4345,4348,4352,4354,4357,4362,4364
4,Alabama,Blount,84001009,US,USA,840,1009.0,US,33.982109,-86.567906,...,10714,10715,10717,10729,10739,10756,10765,10779,10782,10791
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,Wyoming,Teton,84056039,US,USA,840,56039.0,US,43.935225,-110.589080,...,5366,5366,5377,5390,5391,5398,5406,5406,5406,5417
3338,Wyoming,Uinta,84056041,US,USA,840,56041.0,US,41.287818,-110.547578,...,4024,4024,4033,4047,4055,4064,4069,4069,4069,4073
3339,Wyoming,Unassigned,84090056,US,USA,840,90056.0,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0
3340,Wyoming,Washakie,84056043,US,USA,840,56043.0,US,43.904516,-107.680187,...,1845,1845,1861,1862,1862,1854,1856,1856,1856,1858
3341,Wyoming,Weston,84056045,US,USA,840,56045.0,US,43.839612,-104.567488,...,1189,1189,1193,1193,1193,1195,1197,1197,1197,1198